<!DOCTYPE html>
<html ng-app="App">
<head>
    <title></title>
    <meta charset="utf-8" />
    <link href="Content/bootstrap.css" rel="stylesheet" />
    <script src="Scripts/angular.js"></script>
    <script>
        var url= "api/FAQ/"
        angular.module("App", [])
        .controller("faqController", function ($scope,$http) {
            $http.get(url).success(function (data) {
                $scope.faqs = data;
            });
        })
    </script>
</head>
<body class="container">
    <div ng-controller="faqController">
        <h1>FAQ</h1>
        <table class="table table-striped">
            <thead>
                <tr>
                    <th>Id</th>
                    <th>Spørsmål</th>
                    <th>Svar</th>
                </tr>
            </thead>
            <tbody>
                <tr ng-repeat="faq in faqs">
                    <td>{{faq.Id}}</td>
                    <td>{{faq.Question}}</td>
                    <td>{{faq.Answer}}</td>
                </tr>
            </tbody>
        </table>
    </div >
</body>
</html>
