@using Nettbutikk.Model
@{
    ViewBag.Title = "FAQ";
    List<FAQCategoryModel> Categories = ViewBag.Categories;
    bool Admin = (Session["Admin"] == null ? false : (bool)Session["Admin"]);

}

@section Scripts
{
    <script src="@Url.Content("~/Scripts/angular.js")"></script>
    <script src="@Url.Content("~/Scripts/faqController.js")"></script>
}

<div ng-app="App" ng-controller="faqController">

    <a href="~/">Til hovedsiden</a>
    <div class="row">
        <div class="col-md-8">
            <div class="panel panel-primary">
                <div class="panel-heading">
                    <h2 style="display:inline-block">
                        FAQ
                    </h2>
                    <h2 ng-show="loadingFAQ" class="pull-right" style="display:inline-block">
                        Henter data...
                    </h2>
                </div>
                <div ng-show="showFaqs" class="panel-body">

                    <ul class="nav nav-tabs">
                        <li role="presentation" class="active">
                            <a href="#" ng-click="showCategoryFAQs(0)">FAQ</a>
                        </li>
                        @foreach (var c in Categories)
                        {
                            <li role="presentation" >
                                <a href="#" ng-click="showCategoryFAQs(@c.Id)" >
                                    @c.Name
                                </a>
                            </li>
                        }
                    </ul>
                    <ul class="list-group list-striped">
                        <li ng-repeat="faq in faqs | orderBy:'-Score'" class="list-group-item" ng-cloak>
                            <div class="row">
                                <div class="col-md-1">
                                    <div class="faqQuestion">
                                        {{$index+1}}
                                    </div>
                                </div>
                                <div class="col-md-10">
                                    <div class="faqQuestion">
                                        {{faq.Question}}
                                    </div>
                                </div>
                                <div class="col-md-3">

                                </div>
                            </div>
                            <div class="row">
                                <div class="col-md-1">

                                </div>
                                <div class="col-md-9">
                                    <div class="faqAnswer text-muted" >
                                        {{faq.Answer}}
                                    </div>
                                </div>
                                <div class="col-md-2">
                                    <div class="faqRating">
                                        <span class="glyphicon glyphicon-thumbs-up faq-rate faq-rate-plus" ng-click="faqRateUp(faq)"></span>
                                        <div class="faqScore" >
                                            {{faq.Score}}
                                        </div>
                                        <span class="glyphicon glyphicon-thumbs-down faq-rate faq-rate-minus" ng-click="faqRateDown(faq)"> </span>
                                    </div>
                                </div>
                            </div>
                        </li>
                    </ul>
                </div>
            </div>



        </div>

        <div class="col-md-4">
            <div class="panel panel-info divListUserQuestions">
                <div class="panel-heading">
                    <h4 style="display:inline-block">
                        Venter på svar
                    </h4>
                    <h4 class="pull-right" ng-show="loadingQuestions" style="display:inline-block">
                        Henter data...
                    </h4>
                </div>
                <div class="panel-body">
                    <div ng-show="questions.length == 0" ng-cloak>
                        <span class="text-muted">
                            Ingen ubesvarte spørsmål
                        </span>
                    </div>
                    <div ng-show="showQuestions">
                        <ul class="list-group list-striped list-style-none">
                            <li ng-repeat="question in questions" class="list-group-item "  ng-cloak>
                                <div class="row">
                                    <div class="col-md-9 col-xs-9">
                                        @if (Admin)
                                        {
                                            <span class="glyphicon glyphicon-remove text-danger" ng-click="deleteQuestion(question)"></span>
                                        }
                                        <span class="text-primary">
                                            {{question.Question}}
                                        </span>
                                    </div>
                                    <div class="col-md-3 col-xs-3 text-muted" style="font-size:x-small">
                                        {{question.Date | date:"d. MMM HH:mm"}}

                                    </div>

                                </div>
                            </li>
                        </ul>
                    </div>
                </div>

            </div>
            <div class="panel panel-info divAskQuestion">
                <div class="panel-heading">
                    <h4 style="display:inline-block">
                        Spør oss
                    </h4>
                </div>
                <div class="panel-body">
                    <form name="formQuestion">

                        <span class="text-info">
                            Hva er ditt spørsmål?
                        </span>
                        <span class="pull-right text-danger" ng-show="formQuestion.question.$invalid && formQuestion.question.$dirty" ng-cloak>
                            Skriv inn et spørsmål
                        </span>
                        <textarea class="form-control txtQuestion" rows="5" placeholder="Formuler ditt spørsmål her" name="question" ng-model="question" ng-required="true"></textarea>

                        <span class="text-info">
                            Send svaret til
                        </span>
                        @{
                            var emailregex = "^[_a-z]+[a-z0-9_.]*@[a-z0-9_]+(.[-a-z0-9_]+)*[.]{1}[a-z]{2,5}$";
                        }
                        <input type="text" class="form-control" placeholder="Epost-adresse"
                               name="email" ng-model="email" ng-required="true"
                               ng-pattern="/@emailregex/" />
                        <br />
                        <p class="text-danger" ng-show="formQuestion.email.$invalid && formQuestion.email.$dirty " ng-cloak>
                            Skriv inn en gyldig epost-adresse
                        </p>


                        <button ng-disabled="formQuestion.$invalid" class="btn btn-success btnSendQuestion" ng-click="sendQuestion()">
                            Send
                        </button>
                        <span ng-show="attemptSend" ng-class="sendStatusClass" ng-cloak>
                            {{sendStatusMessage}}
                        </span>
                    </form>
                </div>

            </div>
        </div>
    </div>
</div>

<script>
    $(function () {
        $(".nav > li").on("click", function () {
            $(this).siblings().removeClass("active");
            $(this).addClass("active");
        })
    })
</script>